*{
    box-sizing:border-box;
    margin:0;
    padding:0;
    user-select:none;
}
body{
    background-color:#1e1e24;
    color:#e0e0e0;
    font-family:'Fixelta',monospace,sans-serif;
    height:100vh;
    display:flex;
    flex-direction:column;
}
header{
    background-color: #16161a;
    padding:1rem 2rem;
    border-bottom:1px solid #333'
}
header h1{
    font-size:1.2rem;
    font-weight:normal;
    color:#fff;
}

.container{
    display:flex;
    flex:1;
    padding:1.5rem;
    gap:1.5rem;
    overflow:hidden;
}

.sidebar{
    width:260px;
    background-color:#23232b;
    border:1px solid #333;
    padding:1.5rem;
    display:flex;
    flex-direction:column;
    gap:1.5rem;
}
.control-group{
    display:flex;
    flex-direction:column;
    gap:0.5rem;
}
.push-buttom{
    margin-top:auto;
}

label{
    font-size:0.85rem;
    color:#aaa;
}

select,button{
    font-family:inherit;
    background-color:#1a1a20;
    color:#fff;
    border:1px solid #444;
    padding:0.5rem;
    cursor:pointer;
}
select:hover, button:hover{
    border-color:#666;
}
.tools{
    display:flex;
    gap:0.5rem
}
.tool-btn{
    flex:1;
    font-size:0.8rem;
}
.tool-btn.active{
    background-color:#444;
    border-color:#888;
}

.color-picker-wrap{
    display:flex;
    align-items:center;
    gap:0.5rem;
}

input[type="color"]{
    -webkit-appearance:none;
    border:none;
    width:32px;
    height:32px;
    padding:0;
    background:none;
    cursor:pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper{
    padding:0;
}
input[type="color"]::-webkit-color-swatch{
    border:1px solid #666;
}

#hex-display{
    font-size:0.9rem;
}
.palette{
    display:flex;
    gap:0.5rem;
    flex-wrap:wrap;
}

.swatch{
    width:24px;
    height:24px;
}
.swatch:hover{
    border-color:#fff;
}

.check-wrap{
    display:flex;
    align-items:center;
    gap:0.5rem;
    cursor:pointer;
    font-size:0.9rem;
}

.worksspace{
    flex:1;
    background-color: #1a1a20;
    border: 1px solid #333;
    display:flex;
    justify-content:center;
    align-items:center;
    overflow:auto;
}

.canvas-wrap{
    background-color:#e0e0e0;
    border:1px solid #555;
}
canvas{
    display:block;
    image-rendering: pixelated;
    cursor:crosshair;
}